/* Page styles */

html, body { 
	margin: 0; 
	padding: 0; 
	height: 100%; 
}

/* Workspace styles */

.shuffl-workspace {
    display:block;
    /* border:thin black solid; */
    border:none;
    width:100%;
    height:100% ;
}

.shuffl-header {
    height: 0.25em;
    margin: 0;
}

.shuffl-stockbar {
    border: thin #999999 solid;
    margin: 0em 0.25em 0.25em 0.25em ; /* top, right, bottom, left */
    height: 1.6em;
}

.shuffl-workspacemenu {
    display:inline-block;
    font-family: "Comic Sans MS", Trebuchet, sans-serif;    
    font-weight:bold;
    background-color:#DDDDDD;    /* Grey */
    border:thin #666666 solid;
    top: 0.2em;
}

.shuffl-spacer {
    display:inline-block;
    width: 0.5em;
}

.shuffl-stockpile {
    display:inline-block;
    vertical-align: top;
    top: 0.2em;
}

.shuffl-layout {
    display:block;
    position:relative;
    border:thin #999999 solid;
    margin: 0em 0.25em 0.25em 0.25em ; /* top, right, bottom, left */
}

.shuffl-footer {
    display:block;
    font-face: font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: lighter;
    font-size: small;
    font-style: italic;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.shuffl-footer-left {
    float: left;
    padding: 0 0.5em;
}

.shuffl-footer-right {
    float: right;
    padding: 0 0.5em;
}

.shuffl-error {
    color: red;
    font-weight: heavier;
}




.shuffl-contextmenu {
    font-weight:bold;
    background-color:#DDDDDD;    /* Grey */
    border:thin #666666 solid;
    /* width: 20em; */
}

/* Specific identified fields */

.dialog-save {
    width: 60em;
}

.dialog-open {
    width: 60em;
}

/* Shuffl card styles */

/* Apply this class to *all* shuffl cards */
.shuffl-card {
    display:block;
    position:absolute;
}

/* Define initial size for resizable cards */
.shuffl-card-setsize {
    width:20em;   
    /*height:10em;*/
}

/* Allow auto-sizing for cards that are not resizable */
.shuffl-card-autosize {
    width:auto;   
    height:auto;
}

/* Highlight a card selected as drop target */
.shuffl-card.shuffl-highlight {
    border-width: thick; 
}

/* Card field styles */

chead, cfoot {
    height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
}

chead, crow, cfoot {
    display: block;
    margin: 0.2em;
}

cident {
    display:inline;
    font-size:smaller;
}

chandle {
    /* border: thin #999999 solid; */
	  display:inline-block;
    text-align: center;
	  font-size:large;
    font-style:bold;
    overflow: hidden;
    height: 0.8em;
    width: 0.8em;
    margin: 0.1em;
}

chandle c {
    display:inline;
    text-align: center;
    vertical-align: middle;
}

ctitle {
    display:inline-block;
    font-size:large;
    font-style:bold;
    overflow: hidden;
    height: 1em;
}

cclass {
    display:inline;
    font-size:smaller;
}

ctags {
    display:inline;
    font-size:smaller;
}

cbody {
    display:block;
    overflow: auto;
}

.shuffl-handle {
    display:inline-block;
    width: 1em;
}

.shuffl-blockedit {
    display: block;
	  position: absolute;
    overflow: visible;
}

.shuffl-blockedit > textarea {
    display:block;
}

.shuffl-lineedit {
    display: block;
	  position: absolute;
    overflow: visible;
}

/* Stock card colours */

.stock-default {
    background-color: #FFFFFF;    /* White */
    color: black;
    border:thin #888888 solid;
}

.stock-default chead {
    background-color: #DDDDDD;
}

.stock-default chandle {
    background-color: #CCCCCC;
    color: grey;
}

.stock-yellow ,
.stock-yellow cbody td {
    background-color: #FFFFCC;    /* Yellow */
    color: black;
    border:thin #CCCC66 solid;
}

.stock-yellow chead , 
.stock-yellow cbody thx {
    background-color: #DDDD60;
}

.stock-yellow chandle {
    background-color: #CCCC66;
    color: grey;
}

.stock-blue , 
.stock-blue cbody td {
    background-color:#CCFFFF;    /* Cyan */
    color: black;
    border:thin #66CCCC solid;
}

.stock-blue chead ,
.stock-blue cbody thx {
	    background-color: #80EEEE;
}

.stock-blue chandle {
    background-color: #66CCCC;
	  color: grey;
}

.stock-green ,
.stock-green cbody td {
	  background-color:#DDFFDD;      /* Green */
	  color: black;
    border:thin #66CC66 solid;
}

.stock-green chead ,
.stock-green cbody thx {
    background-color: #80EE80;
}

.stock-green chandle {
	  background-color: #66CC66;
    color: grey;
}

.stock-orange ,
.stock-orange cbody td {
    background-color:#FFDDDD;    /* Pink */
    color: black;
    border:thin #CC6666 solid;
}

.stock-orange chead ,
.stock-orange cbody thx {
    background-color: #EE8080;
}

.stock-orange chandle {
    background-color: #CC6666;
    color: grey;
}

.stock-pink ,
.stock-pink cbody td {
    background-color:#FFDDFF;    /* Magenta */
    color: black;
    border:thin #CC66CC solid;
}

.stock-pink chead ,
.stock-pink cbody thx {
    background-color: #EE80EE;
}

.stock-pink chandle {
    background-color: #CC66CC;
    color: grey;
}

.stock-purple ,
.stock-purple cbody td {
    background-color:#DDDDFF;    /* Purple */
    color: black;
    border:thin #6666CC solid;
}

.stock-purple chead ,
.stock-purple cbody thx {
    background-color: #A0A0EE;
}

.stock-purple chandle {
    background-color: #6666CC;
    color: grey;
}

/* End. */
